In [ ]:
# for lilnax

In [4]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
tweets_list1 = []
user = "LilNasX"
max_results = 1000
since_date = "2022-01-01"

# Construct the snscrape query
query = f"from:{user} -filter:retweets"
# query = f"from:{user} since:{since_date} -filter:retweets"
# Scrape the tweets and print the content
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(query).get_items()):
    if i >= max_results:
        break
    tweets_list1.append([
        tweet.date,
        tweet.id,
        tweet.rawContent,
        tweet.user.username,
        tweet.likeCount,
        tweet.retweetCount,
        # tweets.user.location,
        # tweets.hashtags,
        tweet.source])

    # Creating a dataframe from the tweets list above
    tweets_df1 = pd.DataFrame(tweets_list1,
                              columns=['Date', 'Tweet Id', 'Content', 'Username', 'LikeCount', 'retweetCount',
                                       'source'])
    tweets_df1.to_csv(f'celebrities.csv', encoding='utf-8')
tweets_df1.head()

,Date,Tweet Id,Content,Username,LikeCount,retweetCount,source
0,2023-04-11 20:45:45+00:00,1645890905180889088,lmaoo i can’t believe somebody got me this as ...,LilNasX,28304,840,"<a href=""http://twitter.com/download/iphone"" r..."
1,2023-04-11 19:05:54+00:00,1645865776669401088,@lilnasxmajor i didn’t say which new album,LilNasX,358,9,"<a href=""http://twitter.com/download/iphone"" r..."
2,2023-04-11 18:54:26+00:00,1645862891319590913,@notpranto @LNXNews i’m here everyday it’s cum...,LilNasX,174,6,"<a href=""http://twitter.com/download/iphone"" r..."
3,2023-04-11 18:52:00+00:00,1645862279026708480,@LNXNews not i’m already breaking records agai...,LilNasX,175,4,"<a href=""http://twitter.com/download/iphone"" r..."
4,2023-04-10 17:32:50+00:00,1645479968552665089,https://t.co/Dt0euy2KAQ,LilNasX,45416,1625,"<a href=""http://twitter.com/download/iphone"" r..."

In [5]:
# For raven

In [6]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
tweets_list1 = []
user = "ravensymone"
max_results = 1000
since_date = "2022-01-01"

# Construct the snscrape query
query = f"from:{user}  -filter:retweets"

# Scrape the tweets and print the content
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(query).get_items()):
    if i >= max_results:
        break
    tweets_list1.append([
        tweet.date,
        tweet.id,
        tweet.rawContent,
        tweet.user.username,
        tweet.likeCount,
        tweet.retweetCount,
        # tweets.user.location,
        # tweets.hashtags,
        tweet.source])

    # Creating a dataframe from the tweets list above
    tweets_df1 = pd.DataFrame(tweets_list1,
                              columns=['Date', 'Tweet Id', 'Content', 'Username', 'LikeCount', 'retweetCount',
                                       'source'])
    tweets_df1.to_csv(f'celebrities.csv', encoding='utf-8')
tweets_df1.head()

,Date,Tweet Id,Content,Username,LikeCount,retweetCount,source
0,2021-06-30 23:33:27+00:00,1410380993932894208,https://t.co/rI4I5BUjBH,ravensymone,130,29,"<a href=""http://twitter.com/download/iphone"" r..."
1,2021-06-13 18:48:10+00:00,1404148607041695749,@KyleMassey @RondellSheridan Hahah,ravensymone,97,12,"<a href=""http://twitter.com/download/iphone"" r..."
2,2021-05-03 12:30:25+00:00,1389195641931194375,@nkjemisin How can we sit down and have a talk...,ravensymone,10,13,"<a href=""http://twitter.com/download/iphone"" r..."
3,2020-07-17 05:01:21+00:00,1283990148196085760,https://t.co/OM0sjuOoy2,ravensymone,268,76,"<a href=""http://twitter.com/download/iphone"" r..."
4,2020-05-28 00:51:23+00:00,1265807849902370816,"This requires more than tweets, indictments, t...",ravensymone,988,226,"<a href=""http://twitter.com/download/iphone"" r..."

In [7]:
# For Jojo Siwa

In [8]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
tweets_list1 = []
user = "itsjojosiwa"
max_results = 1000
since_date = "2022-01-01"

# Construct the snscrape query
query = f"from:{user} -filter:retweets"

# Scrape the tweets and print the content
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(query).get_items()):
    if i >= max_results:
        break
    tweets_list1.append([
        tweet.date,
        tweet.id,
        tweet.rawContent,
        tweet.user.username,
        tweet.likeCount,
        tweet.retweetCount,
        # tweets.user.location,
        # tweets.hashtags,
        tweet.source])

    # Creating a dataframe from the tweets list above
    tweets_df1 = pd.DataFrame(tweets_list1,
                              columns=['Date', 'Tweet Id', 'Content', 'Username', 'LikeCount', 'retweetCount',
                                       'source'])
    tweets_df1.to_csv(f'celebrities.csv', encoding='utf-8')
tweets_df1.head()

,Date,Tweet Id,Content,Username,LikeCount,retweetCount,source
0,2023-04-07 02:49:54+00:00,1644170606039162881,I haven’t watched the video yet…. But if it ha...,itsjojosiwa,21281,967,"<a href=""http://twitter.com/download/iphone"" r..."
1,2022-07-18 15:10:31+00:00,1549048981216342016,I had a dream that I was in @HamiltonMusical a...,itsjojosiwa,837,58,"<a href=""http://twitter.com/download/iphone"" r..."
2,2022-07-18 07:01:03+00:00,1548925801701134336,One of the greatest moments of my life https:/...,itsjojosiwa,2595,169,"<a href=""http://twitter.com/download/iphone"" r..."
3,2022-07-17 04:25:24+00:00,1548524244773900288,She RANNNNNN,itsjojosiwa,2301,112,"<a href=""http://twitter.com/download/iphone"" r..."
4,2022-07-16 02:35:22+00:00,1548134166935482370,Me when people say I shouldn’t be a judge on s...,itsjojosiwa,5536,246,"<a href=""http://twitter.com/download/iphone"" r..."

In [9]:
# for demi

In [10]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
tweets_list1 = []
user = "ddlovato"
max_results = 1000
since_date = "2022-01-01"

# Construct the snscrape query
query = f"from:{user} s -filter:retweets"

# Scrape the tweets and print the content
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(query).get_items()):
    if i >= max_results:
        break
    tweets_list1.append([
        tweet.date,
        tweet.id,
        tweet.rawContent,
        tweet.user.username,
        tweet.likeCount,
        tweet.retweetCount,
        # tweets.user.location,
        # tweets.hashtags,
        tweet.source])

    # Creating a dataframe from the tweets list above
    tweets_df1 = pd.DataFrame(tweets_list1,
                              columns=['Date', 'Tweet Id', 'Content', 'Username', 'LikeCount', 'retweetCount',
                                       'source'])
    tweets_df1.to_csv(f'celebrities.csv', encoding='utf-8')
tweets_df1.head()

,Date,Tweet Id,Content,Username,LikeCount,retweetCount,source
0,2023-02-15 20:45:23+00:00,1625959480533078016,What’s your favorite scary movie? Still Alive ...,ddlovato,21827,4871,"<a href=""http://twitter.com/download/iphone"" r..."
1,2022-07-14 20:57:26+00:00,1547686731964489728,HOLY FVCK takes me back to my roots. It’s a bo...,ddlovato,11501,3111,"<a href=""http://twitter.com/download/iphone"" r..."
2,2022-06-27 23:46:26+00:00,1541568670018568192,Think we might be crashing \nEveryone’s laugh...,ddlovato,13105,2646,"<a href=""http://twitter.com/download/iphone"" r..."
3,2022-04-07 18:47:38+00:00,1512140055384510476,"You call me they, but I’m still daddy’s girl… ...",ddlovato,29841,4032,"<a href=""http://twitter.com/download/iphone"" r..."
4,2022-03-22 22:27:55+00:00,1506397286531706881,He said it’s too early to be this turned on…. ...,ddlovato,52285,4933,"<a href=""http://twitter.com/download/iphone"" r..."